<div class="container-sm p-5 mx-820">

  <div class="container-fluid text-center display-5 p-2 mb-3" >
    Login
  </div>

  <div *ngIf="isFailed" class="alert alert-danger alert-dismissible fade show" role="alert">
    Invalid username or password!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <label class="form-label" for="loginUsername">Username</label> <br>
    <div class="input-group has-validation pb-4">
      <input type="text" class="form-control"
             [ngClass]="{'is-invalid' : loginForm.get('username')?.touched && !loginForm.get('username')?.valid}"
             name="loginUsername" id="loginUsername" formControlName="username" placeholder="Enter Username or email">
      <div class="invalid-feedback">
        Please provide a username.
      </div>
    </div>

    <label class="form-label" for="loginPassword">Password</label> <br>
    <div class="input-group has-validation pb-4">
      <input class="form-control" type="password" name="loginPassword" id="loginPassword" formControlName="password"
             [ngClass]="{'is-invalid' : loginForm.controls['password'].touched && !loginForm.controls['password'].valid }"
             placeholder="Enter password">
      <div class="invalid-feedback">
        Please provide Password.
      </div>
    </div>

    <a [routerLink]="['../forgot-password']">Forgot Password?</a>

    <div class="container-fluid text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>

    </div>

  </form>
  <br>


</div>
