<div class="container-sm p-5 mx-820">

  <div class="container-fluid text-center display-5 p-3">
    Forgot Password
  </div>

  <div *ngIf="isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
    Password has been changed successfully!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div *ngIf="isFailed" class="alert alert-danger alert-dismissible fade show" role="alert">
    Failed to change password!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div *ngIf="isUsernameInvalid" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>
      User not found!
    </strong>
    Please Check and try again.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

    <label class="form-label" for="username">Username</label> <br>
    <div class="input-group has-validation">
      <input type="text" class="form-control"
             [ngClass]="{'is-invalid' : forgotPasswordForm.get('userId')?.touched && !forgotPasswordForm.get('userId')?.valid}"
             name="loginUsername" id="username" formControlName="userId" placeholder="Enter your Username">
      <div class="invalid-feedback">
        Please provide a Username.
      </div>
    </div>
    <br>


    <label class="form-label" for="password">Password</label> <br>
    <div class="input-group has-validation">
      <input type="password" class="form-control"
             [ngClass]="{'is-invalid' : forgotPasswordForm.get('password')?.touched && !forgotPasswordForm.get('password')?.valid}"
             name="email" id="password" formControlName="password" placeholder="Enter a new Password">
      <div class="invalid-feedback">
        Please provide a Password.
      </div>
    </div>
    <br>

    <label class="form-label" for="confirmPassword">Confirm Password</label> <br>
    <div class="input-group has-validation">
      <input type="password" class="form-control"
             [ngClass]="{'is-invalid' : forgotPasswordForm.get('confirmPassword')?.touched && forgotPasswordForm.hasError('passwordMismatch')}"
             name="email" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter your new Password">
      <div class="invalid-feedback">
        Password does not match.
      </div>
    </div>
    <br>

    <div class="p-2 pb-4">
      Remember password?
      <a [routerLink]="['../login']">Login</a>
    </div>

    <div class="container-fluid text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">

        <div *ngIf="!isLoading">
          Update
        </div>
        <div *ngIf="isLoading" class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>

      </button>

    </div>

  </form>
  <br>


</div>
