<div class="container-sm p-5 pb-0 mx-820">

  <div class="container-fluid text-center display-5 p-2 mb-2">
    Register
  </div>

  <div *ngIf="isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
    User successfully registered!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div *ngIf="isFailed" class="alert alert-danger alert-dismissible fade show" role="alert">
    Failed to register user!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <label class="form-label" for="username">Username</label> <br>
    <div class="input-group has-validation pb-4">
      <input (change)="validateUsername()" type="text" class="form-control"
             [ngClass]="{'is-invalid' :( registerForm.get('userId')?.touched && !registerForm.get('userId')?.valid),
                          'is-valid' : registerForm.controls['userId'].dirty && (registerForm.get('userId')?.valid || registerForm.controls['userId'].hasError('userAlreadyExist'))}"
             name="loginUsername" id="username" formControlName="userId"
             placeholder="Enter a username"/>
      <div *ngIf="registerForm.controls['userId'].errors?.required" class="invalid-feedback">
        Please provide a username.
      </div>
      <div *ngIf="registerForm.controls['userId'].hasError('userAlreadyExist') " class="invalid-feedback">
        Entered Username is not available.
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12 pb-4">
        <label class="form-label" for="firstName">First Name</label> <br>
        <div class="input-group has-validation">
          <input type="text" class="form-control"
                 [ngClass]="{'is-invalid' : registerForm.get('firstName')?.touched && !registerForm.get('firstName')?.valid}"
                 name="firstName" id="firstName" formControlName="firstName" placeholder="Enter your first name">
          <div class="invalid-feedback">
            Please provide your first name.
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 pb-4">
        <label class="form-label" for="lastName">Last Name</label> <br>
        <div class="input-group has-validation">
          <input type="text" class="form-control"
                 [ngClass]="{'is-invalid' : registerForm.get('lastName')?.touched && !registerForm.get('lastName')?.valid}"
                 name="lastName" id="lastName" formControlName="lastName" placeholder="Enter your last name">
          <div class="invalid-feedback">
            Please provide your last name.
          </div>
        </div>
      </div>
    </div>


    <label class="form-label" for="email">Email</label> <br>
    <div class="input-group has-validation pb-4">
      <input (change)="validateEmail()" type="text" class="form-control"
             [ngClass]="{'is-invalid' : registerForm.get('email')?.touched && !registerForm.get('email')?.valid,
                          'is-valid' : registerForm.controls['email'].dirty && (registerForm.get('email')?.valid || registerForm.controls['email'].hasError('emailAlreadyExist'))}"
             name="email" id="email" formControlName="email" placeholder="Enter a valid email">
      <div *ngIf="registerForm.get('email')?.errors?.required" class="invalid-feedback">
        Please provide a email.
      </div>
      <div *ngIf="registerForm.get('email')?.errors?.email" class="invalid-feedback">
        Please provide a valid email.
      </div>
      <div *ngIf="registerForm.get('email')?.errors?.emailAlreadyExist" class="invalid-feedback">
        Account with this email already exists.
      </div>

    </div>


    <label class="form-label" for="contactNumber">Contact Number</label> <br>
    <div class="input-group has-validation pb-4">
      <input type="text" class="form-control"
             [ngClass]="{'is-invalid' : registerForm.get('contactNumber')?.touched && !registerForm.get('contactNumber')?.valid}"
             name="email" id="contactNumber" formControlName="contactNumber" placeholder="Enter your contact number">
      <div *ngIf="registerForm.get('contactNumber')?.errors?.required" class="invalid-feedback">
        Please provide your contact number.
      </div>
      <div *ngIf="registerForm.get('contactNumber')?.errors?.pattern" class="invalid-feedback">
        Please provide a valid contact number.
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <label class="form-label" for="password">Password</label> <br>
        <div class="input-group has-validation pb-4">
          <input type="password" class="form-control"
                 [ngClass]="{'is-invalid' : registerForm.get('password')?.touched && !registerForm.get('password')?.valid}"
                 name="email" id="password" formControlName="password" placeholder="Enter your password">
          <div class="invalid-feedback">
            Please provide a password.
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6">
        <label class="form-label" for="confirmPassword">Confirm Password</label> <br>
        <div class="input-group has-validation pb-4">
          <input type="text" class="form-control"
                 [ngClass]="{'is-invalid' : this.registerForm.get('confirmPassword')?.touched && registerForm.hasError('passwordMismatch')}"
                 name="email" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter your password">
          <div class="invalid-feedback">
            Password does not match.
          </div>
        </div>
      </div>
    </div>

    <div class="p-2 pb-4">
      Already have account?
      <a [routerLink]="['../login']">Login</a>
    </div>


    <div class="container-fluid text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>

    </div>

  </form>
  <br>


</div>
