<nav class="navbar navbar-expand-sm navbar-light nav-shadow">
  <div class="container mx-975">

    <a *ngIf="!isSearching" class="navbar-brand" [routerLink]="['/']">
      <span class="container-fluid">
        <img src="/assets/yellow.png" alt="" height="32" > TweetApp
      </span>
    </a>

    <div *ngIf="isUserLoggedIn && isSearching" class="flex-grow-1">
      <div class="search-container">
        <form [formGroup]="searchForm" class="" autocomplete="off">
          <div class="dropdown">
            <input formControlName="value" class="form-control me-2 dropdown-toggle" id="dropdownMenuButton1"
                   data-bs-toggle="dropdown"
                   aria-expanded="false" type="text" placeholder="Search" aria-label="Search" #search>
            <ul class="dropdown-menu w-100" [ngClass]="{'visually-hidden' : userList.length===0}"
                aria-labelledby="dropdownMenuButton1">
              <li *ngFor="let user of userList">
                <a class="dropdown-item" [routerLink]="['profile',user.userId]" (click)="toggleSearch()">
                  <div class="d-flex flex-row">
                    <div class="search-image-container">
                      <img src="https://api.multiavatar.com/{{user?.userId}}.png" class="img-fluid img-thumbnail rounded-circle"
                           alt="...">
                    </div>
                    <div class="ms-1">
                      {{user.userId}}
                    </div>
                  </div>
                </a>
              </li>

            </ul>
          </div>
        </form>
      </div>
    </div>


    <ul class="navbar-nav flex-row gap-1 ms-1">

      <li *ngIf="isUserLoggedIn" class="nav-item">
        <a class="nav-link" *ngIf="!isSearching" (click)="toggleSearch()"><i class="bi bi-search"></i></a>
        <a class="nav-link" *ngIf="isSearching"  (click)="toggleSearch()">Cancel</a>
      </li>

      <li *ngIf="showLogin()" class="nav-item">
        <a class="nav-link" [routerLink]="['login']">Login</a>
      </li>
      <li *ngIf="showRegister()" class="nav-item">
        <a class="nav-link" [routerLink]="['register']">Register</a>
      </li>
      <li *ngIf="isUserLoggedIn && !isSearching" class="nav-item">
        <a class="nav-link" [routerLink]="['logout']" (click)="logout()">Logout</a>
      </li>
    </ul>

  </div>
</nav>

<main [ngClass]="{'visually-hidden': isSearching}">
  <div class="container p-0 p-sm-1 pt-1 justify-content-center">
    <router-outlet></router-outlet>
  </div>
</main>

<div *ngIf="isSearching" class="overlay-screen"></div>
