<nav class="navbar navbar-expand-sm navbar-light nav-shadow">
  <div class="container mx-975">

    <a class="navbar-brand" [routerLink]="['/']">
      <span class="container-fluid">
        <img src="/assets/logo-t2.png" alt="" height="29" width="97">
      </span>
    </a>

    <div *ngIf="isUserLoggedIn"  class="flex-grow-1">
      <div class="search-container">
        <form [formGroup]="searchForm" class="" autocomplete="off">
          <div class="dropdown">
            <input formControlName="value" class="form-control me-2 dropdown-toggle" id="dropdownMenuButton1"
                   data-bs-toggle="dropdown"
                   aria-expanded="false" type="text" placeholder="Search" aria-label="Search" #search>
            <ul class="dropdown-menu w-100" [ngClass]="{'visually-hidden' : userList.length===0}" aria-labelledby="dropdownMenuButton1">
              <li *ngFor="let user of userList">
                <a class="dropdown-item" [routerLink]="['profile']" [state]="user" >{{user.userId}}</a>
              </li>

            </ul>
          </div>
        </form>
      </div>
    </div>

    <ul class="navbar-nav">

      <li *ngIf="!isUserLoggedIn" class="nav-item">
        <a class="nav-link" [routerLink]="['login']">Login</a>
      </li>
      <li *ngIf="!isUserLoggedIn" class="nav-item">
        <a class="nav-link" [routerLink]="['register']">Register</a>
      </li>
      <li *ngIf="isUserLoggedIn" class="nav-item">
        <a class="nav-link" [routerLink]="['logout']" (click)="logout()">Logout</a>
      </li>
    </ul>

  </div>
</nav>

<main>
  <div class="container p-0 p-sm-1 justify-content-center">
    <router-outlet></router-outlet>
  </div>
</main>
