<div class="container-sm p-lg-5 mx-820 mt-2 d-flex vh-90 flex-column">


  <div class="container-fluid card p-0 shadow mb-3">


    <div class="d-flex flex-row justify-content-center mb-2 mt-3">
      <div class="">
        <img src="/assets/default.jpg" class="img-fluid profile-page-image-mw img-thumbnail rounded-circle" alt="...">
      </div>
    </div>

    <div class="d-flex flex-row justify-content-center text-center mb-2">
      <div class="display-5">
       {{ user?.firstName + " " + user?.lastName}}
      </div>
    </div>


    <div class="d-flex flex-row justify-content-center mb-2 text-center">
      <div class="text-primary fs-6">
        @{{ user?.userId}}
      </div>
    </div>


  </div>

  <div *ngIf="tweets.length==0" class="d-flex p-0 mt-5 text-muted  mb-3 align-items-center justify-content-center  flex-grow-1">
      <div class="fs-5 text-center">
       User has no tweets!
      </div>
  </div>


  <div *ngFor="let tweetData of tweets.reverse();">
    <app-tweet [tweet]="tweetData"></app-tweet>
  </div>

</div>
