<div class="container-sm p-lg-5 pt-5 mx-820">
  <p class="lead text-center">Welcome!</p>

  <app-post-tweet *ngIf="!isLoadingPost" [user]="user"></app-post-tweet>



  <div *ngIf="this.tweetDataList.length==0"
       class="d-flex p-0 mt-5 text-muted  mb-3 align-items-center justify-content-center  flex-grow-1">
    <div *ngIf="!isFetching" class="fs-5 text-center">
      No tweets to show!
    </div>
    <div *ngIf="isFetching" class="fs-5 text-center">
     Loading tweets...
    </div>

  </div>

  <div *ngFor="let tweetData of sortedList();index as i ;trackBy: trackByFn;">
    <app-tweet [tweet]="tweetData"></app-tweet>
  </div>

  <div *ngIf="isLoadingPost"
       class="d-flex p-0 mt-5 text-muted  mb-3 align-items-center justify-content-center  flex-grow-1">
    <div class="fs-5 text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

</div>
